.nav {
  width: 15%;
  min-width: 140px;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
 
  h4 {
    color: $secondary-color
  }

  a:link {
    color: $secondary-color;
    text-decoration: none;
  }

  a:visited {
    color: $secondary-color;
    text-decoration: none;
  }

  a:hover {
    color: $secondary-color;
    text-decoration: underline;
  }
}